footer {
  background-color: #2f303a;
}
.footer-bottom {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: $white-color;
}
address {
  margin-top: 20px;
  color: $white-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* цвет ссылок телефон+почта */

.address-link {
  color: rgba(255, 255, 255, 0.6);
  &.footer {
    margin-top: 9px;
  }
}
.fotter-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.social-list-fotter {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  & > p {
    margin: 0;
  }
}
.social-item-footer {
  display: flex;
  margin-top: 20px;
}
.list-link-footer {
  display: inline-flex;
  margin-top: 16px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}
.link-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $white-color;
  transition: background-color $time;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.link-item-footer:not(:last-child) {
  margin-right: 10px;
}

.link-icon-footer {
  --color: currentColor;
  width: 20px;
  height: 20px;
}
.footer-form {
  & > p {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;
  }
  & > input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
    width: 358px;
    height: 50px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $white-color;
  }
}
.footer-button {
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  display: inline-flex;
  align-items: center;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $white-color;
}
.footer-form-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
