footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}
.footer-bottom {
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 48px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
.logo-footer {
  color: $white-color;
}
address {
  margin-top: 20px;
  color: $white-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address-list li:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
/* цвет ссылок телефон+почта */

.address-link {
  color: rgba(255, 255, 255, 0.6);
  &.footer {
    margin-top: 9px;
  }
}
.fotter-container {
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 65px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 0;
    text-align: left;
    align-items: baseline;
  }
}
.footer-address {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    margin-right: 165px;
    margin-top: 60px;
    margin-bottom: 72px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.social-list-fotter {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  & > p {
    margin: 0;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 83px;
    & > p {
      text-align: center;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}
.social-item-footer {
  display: flex;
  margin-top: 20px;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
.list-link-footer {
  display: inline-flex;
  margin-top: 16px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}
.link-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $white-color;
  transition: background-color $time;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.link-item-footer:not(:last-child) {
  margin-right: 10px;
}

.link-icon-footer {
  --color: currentColor;
  width: 20px;
  height: 20px;
}
.footer-form {
  & p {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;
  }
  & input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
    height: 50px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $white-color;
  }
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    & p {
      text-align: center;
    }
    & input {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    & p {
      text-align: center;
    }
    & input {
      display: block;
      width: 450px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: block;
    & input {
      width: 358px;
      margin-bottom: 0;
      margin-right: 12px;
    }
    & p {
      text-align: left;
    }
    margin-left: auto;
  }
}
.form-elements {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  display: inline-flex;
  align-items: center;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $white-color;
  @media screen and (max-width: 1199px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-form-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
