.main-portfolio {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.work-set {
  display: flex;
  flex-wrap: wrap;

  & img {
    display: block;
  }
  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}
.work-item {
  & a {
    display: block;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  &:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 2 * 30px) / 3);
    &:not(:nth-child(2n)) {
      margin-right: 0;
    }
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }

  & a:hover .work-secondary {
    transform: translateY(0);
    opacity: 1;
  }
  & a:focus .work-secondary {
    transform: translateY(0);
    opacity: 1;
  }
}
.work-item-link {
  position: relative;
  box-shadow: none;
  overflow: hidden;
  padding: 0;
  transition: box-shadow $time;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.work-img {
  position: relative;
  overflow: hidden;
  & img {
    width: 100%;
  }
}

.work-secondary {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);
  color: $white-color;
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(100%);
  transition: transform $time;
}
/* розметка заголовка h2 */
.name-title {
  color: $title-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}
.name-work {
  margin: 0;
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
