.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
  & h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}
.regular-customers-list {
  display: flex;
  margin-top: 50px;
}
.regular-customers-link {
  display: inline-flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill $time, border $time, box-shadow $time;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    fill: $accent-color;
  }
}
.regular-customers-item:not(:last-child) {
  margin-right: 30px;
}
.regular-customers-icon {
  --color: currentColor;
  &.icon-1 {
    width: 44px;
    height: 49px;
  }
  &.icon-2 {
    width: 40px;
    height: 52px;
  }
  &.icon-3 {
    width: 41px;
    height: 43px;
  }
  &.icon-4 {
    width: 80px;
    height: 42px;
  }
  &.icon-5 {
    width: 59px;
    height: 47px;
  }
  &.icon-6 {
    width: 88px;
    height: 45px;
  }
}
